body{
    background-color: rgb(224, 223, 223);
}

.navbar-brand{
    width: 100%;
}

.well{
    margin: 10px;
}

.device-list-heading{
    padding-bottom: 10px;
}

.device-list-heading .pull-left{
    font-size: 20px;
}